* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #4b6cb7;
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    z-index: 1000;
}

.logo {
    color: white;
}

.menu {
    list-style: none;
    display: flex;
}

.menu li {
    margin-left: 20px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.menu a:hover {
    color: #ffd369;
}

/* SECTION UMUM */
.section {
    min-height: 100vh;
    padding: 120px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    max-width: 600px;
    text-align: center;
}

/* HOME */
.home {
    background: linear-gradient(to right, #4b6cb7, #182848);
    color: white;
}

.home span {
    color: #ffd369;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 25px;
    background-color: #ffd369;
    color: #182848;
    text-decoration: none;
    border-radius: 20px;
    font-weight: bold;
}

/* ABOUT */
.about {
    background-color: #f4f6fc;
}

.about ul {
    list-style: none;
    margin-top: 20px;
}

.about li {
    margin: 8px 0;
}

/* SKILLS */
.skills {
    background-color: white;
}

.skill-box {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.skill-box span {
    background-color: #4b6cb7;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
}

/* CONTACT */
.contact {
    background-color: #f4f6fc;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

input, textarea {
    padding: 10px;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 15px;
    background-color: #182848;
    color: white;
}